@import "mixins", "sharing", "ListingsActionBar", "listinglist",
"footercredits";

.normalIcon {
  a {
    cursor: default !important;
  }
}

input[type=checkbox] {
  + label {
    background: url(../images/nice_checkbox.png) 0 2px no-repeat;
    display: inline-block;
    height: 20px;
    margin-bottom: -2px;
    padding-left: 20px;

  }
  &:checked + label {
    background-position: 0 -138px;
  }
}

input[type=checkbox] {
  display: none;
}

