$orange: orange;
@import "mixins", "variables", "sharing", "ListingsActionBar", "listinglist",
"footercredits";

.normalIcon {
  a {
    cursor: default !important;
  }
}

.bGreen {
  background-color: $lGreen;
}

.bLightGreen {
  background-color: $lLightGreen;
}

.bYellow {
  background-color: $lYellow;

}

.bOrange {
  background-color: $lOrange;

}

.bRed {
  background-color: $lRed;
}

input.nice_checkbox[type=checkbox] {
  display: none;
  + label {
    background: url(../images/nice_checkbox.png) 0 2px no-repeat;
    display: inline-block;
    height: 20px;
    margin-bottom: -2px;
    padding-left: 20px;

  }
  &:checked + label {
    background-position: 0 -138px;
  }
}


.typography ul.clearUL,
.typography ul.clearUL li, ul.clearUL, ul.clearUL li {
  float: left;
  width: 100%;
  list-style: none;
  list-style-image: none;
  position: relative;
  margin: 0 0 10px;
  padding: 0
}