@import "mixins", "sharing", "ListingsActionBar", "listinglist",
"footercredits";

.normalIcon {
  a {
    cursor: default !important;
  }
}

input[type=checkbox] {
  + label {
    background: url(../images/nice_checkbox.png) 0 0 no-repeat;
    display: inline-block;
    height: 16px;
    margin-bottom: -2px;
    padding-left: 20px;

  }
  &:checked + label {
    background-position: 0 -140px;
  }
}

input[type=checkbox].nice_checkbox {
  display: none;
}
